@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #fefefe;
  text-align: center;
  background-color: #0e0613;
}

:root {
  --color-preto: #0e0613;
  --color-lilas: #762697;
  --color-roxo: #8775c3;
  --color-cyan: #1098ad;
  --stroke: #343a40;
}

#main-banner {
  height: 500px;
  background: url("./imagens/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4rem;
}

#main-banner-titulo {
  width: 80%;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10em;
  padding-bottom: 15em;
  background-color: transparent;
}

h1 {
  font-size: 90px;
  font-family: "Poppins";
  letter-spacing: 0.3rem;
  background-color: transparent;
}

.subtitulo {
  font-size: 20px;
  background-color: transparent;
}

.painelInteratividade {
  margin-bottom: 2rem;
}

select,
#botaoLimpar {
  color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  line-height: 100%;
  margin: 10px;
  margin-bottom: 1rem;
  text-align: center;
  background-color: var(--color-cyan);
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 2px 2px var(--color-preto);
}

select,
#botaoLimpar:hover {
  background-color: var(--color-roxo);
  box-shadow: var(--color-preto);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cardsUnitarios {
  width: 20%;
  margin: 1.8rem;
  border-radius: 50px;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, #8775c3, #1098ad, #8775c3);
  padding: 2rem;
  display: grid;
}

img {
  object-fit: cover;
  width: 270px;
  height: 340px;
  /* padding: 1.5rem; */
  /* padding-left: 3rem; */
  padding: 1.2rem 0 1.3rem 3rem;
}

h2 {
  font-size: 20px;
  font-family: "Poppins";
  text-align: center;
}

p {
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 300;
  line-height: 1.2rem;
}

hr {
  margin-top: 3rem;
  border-color: #0d0612;
  opacity: 40%;
}

.footer-p {
  padding: 2rem 0;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-cyan);
}
