@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
margin: 0;
padding: 0;
}

:root{
    --color-amarelo: FFCE22;
    --color-azul: 054A91;
}

header {
    width: 100%;
    color: var(--color-amarelo);
}

